In [1]:
# CALLING LIBRARIES
import pandas as pd
import numpy as np
import os
import sys
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder as onehot
from sklearn.impute import SimpleImputer
from sklearn.tree import DecisionTreeClassifier 
from sklearn import set_config
from sklearn.pipeline import Pipeline
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

In [2]:
#MOUNTING G DRIVE
from google.colab import drive
drive.mount('/content/drive', force_remount=True)

Mounted at /content/drive

In [3]:
# SETTING UP PATH OF ZIP FILE
path =  "/content/drive/MyDrive/" +"Loan_default_train_v2.csv.zip"

In [4]:
#READING CSV FILE SHOWING INCLUION OF LOSS KEY
train = pd.read_csv(
                     path,
                     header=0,  # First row is header-row
                    )

train.dtypes

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (135,204,274,417) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

id        int64
f1        int64
f2        int64
f3      float64
f4        int64
         ...
f775    float64
f776      int64
f777      int64
f778      int64
loss      int64
Length: 771, dtype: object

In [5]:
abc=train.copy()
print(train.shape)    #Number of rows and columns respectively
print()
train.tail(10)

(105471, 771)

            id   f1  f2        f3    f4  ...    f775  f776  f777  f778  loss
105461  105462  132   8  0.798622  2200  ... -0.6387     0     0    93     0
105462  105463  139   8  0.771847  2200  ...  0.9106     0     0    93     0
105463  105464  136   8  0.420418  2200  ...  0.9908     0     0    93     3
105464  105465  127   8  0.839374  2200  ...  0.7329     0     0    93     0
105465  105466  140   8  0.888521  2200  ...  0.9228     0     0    93     0
105466  105467  126   8  0.006620  2200  ... -0.5489     0     0    93     0
105467  105468  137   9  0.358568  2200  ... -0.8627     1     0    93     0
105468  105469  129   9  0.241858  2200  ...  1.0901     1     0    93     0
105469  105470  129   9  0.569719  2200  ...  1.3355     1     0    93     0
105470  105471  129   9  0.407707  2200  ... -0.9687     1     0    93     0

[10 rows x 771 columns]

In [6]:
#CLEANING DATA
train.isnull().sum()

id         0
f1         0
f2         0
f3         0
f4         0
        ...
f775    1525
f776       0
f777       0
f778       0
loss       0
Length: 771, dtype: int64

In [7]:
train.dropna(inplace =True)
train.shape                   #ALMOST HALF ROWS REMOVED DUE TO PRESENCE OF NULL VALUES

(51940, 771)

In [8]:
print(train.info())   # We can observe "object" datatypes(19) of keys(columns) and try to remove them

<class 'pandas.core.frame.DataFrame'>
Int64Index: 51940 entries, 2 to 105468
Columns: 771 entries, id to loss
dtypes: float64(653), int64(99), object(19)
memory usage: 305.9+ MB
None

In [9]:
Object_removal = train.select_dtypes(include=['object'])
print(Object_removal.head(20))

# FOR loop for checking datatype of object type and removing them

for i in train.select_dtypes(include=['object']).columns:
    train.drop(labels=i, axis=1, inplace=True)

                  f137  ...                   f698
2      186000000000000  ...   19855991371293999104
4          52152926246  ...   94766610066210996224
6      226000000000000  ...  221765441912190009344
7    92100000000000000  ...  131851525291529994240
8       61300000000000  ...   46207102369444003840
9        6280000000000  ...   35263226155725000704
10       6280000000000  ...   25152340930400002048
11     226000000000000  ...  209628510163069992960
13    3860000000000000  ...  154252555488300007424
14      61300000000000  ...  155579283901710008320
15    9550000000000000  ...  133605068451669999616
16    3120000000000000  ...  167388960777530015744
17       2640000000000  ...  138744296147760005120
18  120000000000000000  ...   46443482867865001984
19       2250000000000  ...   42176521116234997760
21       5550000000000  ...   14827763877915000832
25       6280000000000  ...  101009490659550003200
26     142000000000000  ...   93214986789537005568
27       2250000000000  ...  207225111433310011392
28     348000000000000  ...   65476290159575998464

[20 rows x 19 columns]

In [10]:

print(train.shape)   # DATA ready for splitting into testing and training where further model can be applied
print(train.info())

(51940, 752)
<class 'pandas.core.frame.DataFrame'>
Int64Index: 51940 entries, 2 to 105468
Columns: 752 entries, id to loss
dtypes: float64(653), int64(99)
memory usage: 298.4 MB
None


 MODELING

In [11]:
#DATA SPLITTING 
X = train.iloc[:,1:751]
Y = train.iloc[:,751]                   # Selection of Loss Column as hyperparameter
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, random_state=42)    #20 percent proportion of data in testing data split

In [12]:
# APPLYING RANDOM FOREST MODEL
from sklearn.ensemble import RandomForestClassifier
model = RandomForestClassifier(n_estimators=50)
model.fit(X_train, Y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=50,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [13]:
model.score(X_test,Y_test)    #Accuracy of the model determined which comes close to 90%

0.9002695417789758

In [14]:

mse = mean_squared_error(Y_test, model.predict(X_test))   #RMSE which comes near 15% 
print("The mean squared error (MSE) on test set: {}".format(mse))

The mean squared error (MSE) on test set: 15.293415479399307